*{
  margin: 0;
  padding: 0;
}
a{
  display: inline-block;
  text-decoration: none;
}
ol,ul{
  list-style-type: none;
}

#banner{
  background: url(../images/img.jpeg);
  padding: 250px 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.counterItem{
  padding: 50px;
  background: teal;
  text-align: center;
  color: white;
  border-radius: 10px;
}